.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 28px;
}

.navigation {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
  padding: 32px 0 70px;

  &__button {
    width: 32px;
    height: 24px;
    padding: 4px 8px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.2s;

    &--active {
      color: var(--color-primary-light);
      background-color: var(--color-brand-normal);
      border-radius: 2px;
    }

    &:hover {
      box-shadow: 0px 8px 16px 0px #18181714;
    }

    &.disabled {
      opacity: 0.2;
      cursor: default;
    }
  }

  &__svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
