.contact-section {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0 164px;
  overflow-x: hidden;

  @media screen and (min-width: $bp-desktop) {
    padding: 168px 0 92px;
    overflow: visible;
  }

  &::before {
    position: absolute;
    content: '';
    top: calc(0px - (100vw - 360px) * 0.09);
    left: calc(-80px - (100vw - 360px) * 0.13);
    width: calc(619px + 100vw - 360px);
    height: calc(257px + (100vw - 360px) * 0.33);
    background-image: url('../images/contact-background-vector.svg');
    background-size: cover;
    z-index: -1;

    @media screen and (min-width: $bp-desktop) {
      top: -66px;
      left: 0;
      width: 100vw;
      height: calc(694px + (100vw - 1200px) * 0.58);
      background-image: url('../images/contact-background-vector-desktop.svg');
    }

    @media screen and (min-width: $bp-max) {
      width: 1440px;
      height: 833px;
    }
  }

  &__container {
    position: relative;
    max-width: 648px;
    margin: 0 auto;

    &::before,
    &::after {
      @media screen and (min-width: $bp-desktop) {
        position: absolute;
        content: '';
      }
    }

    &::before {
      width: 353px;
      height: 520px;
      top: 52px;
      left: calc(-354px - (100vw - 1200px) * 0.175);
      background-image: url('../images/contact-walking-dog-before.png');

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/contact-walking-dog-before@2x.png');
        background-size: contain;
      }

      @media screen and (min-width: $bp-max) {
        left: -396px;
      }
    }

    &::after {
      width: 322px;
      height: 752px;
      top: -137px;
      right: calc(-275px - (100vw - 1200px) * 0.5);
      background-image: url('../images/contact-asking-dog-after.png');

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/contact-asking-dog-after@2x.png');
        background-size: contain;
      }

      @media screen and (min-width: $bp-max) {
        right: -396px;
      }
    }
  }

  &__title-part {
    padding: 0 33px;
  }

  &__comment-text {
    color: var(--color-secondary-dark);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      line-height: 1.35;
      margin-bottom: 42px;
      letter-spacing: 0.05em;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
