.contact-section {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  /* Псевдоэлемент ибо бэкграунд надо подвинуть */
  /* Спросить у бота как лучше */
  &::before {
    position: absolute;
    width: 1440px;
    height: 833px;
    top: -21px;
    /* 21 на глаз */
    background-image: url('../images/contact-background.png');
    background-repeat: no-repeat;
    content: '';
    z-index: -1;
  }

  &__container {
    position: relative;
    max-width: 648px;
    margin: 0 auto;
    padding: 211px 24px 92px;
    /* 211 - к карточке; 92 условно пока что */

    &::before,
    &::after {
      position: absolute;
      /* background-repeat: no-repeat; */
      content: '';
    }

    &::before {
      width: 353px;
      height: 520px;
      top: 263px;
      left: -396px;
      background-image: url('../images/contact-walking-dog-before.png');
    }

    &::after {
      width: 322px;
      height: 752px;
      top: 74px;
      right: -396px;
      background-image: url('../images/contact-asking-dog-after.png');
    }
  }

  &__comment-text {
    color: var(--color-secondary-dark);
    font-size: 18px;
    line-height: 1.35;
    text-align: center;
    margin-bottom: 42px;
    letter-spacing: 0.05em;
  }
}
