.footer {
  padding: 32px 0;
  background-color: var(--color-background-warm);
}

.footer-container {
  display: flex;
  gap: 136px;
  position: relative;
  max-height: 174px;
}

.footer-container::after {
  position: absolute;
  width: 292px;
  height: 305px;
  top: -50px;
  right: 0;
  background-image: url('../images/footer-dog.png');
  background-repeat: no-repeat;
  content: '';
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-container {
  max-width: 320px;
  width: 100%;
}
