.footer {
  padding: 32px 0;
  background-color: var(--color-background-warm);

  &__container {
    display: flex;
    gap: 136px;
    position: relative;
    max-height: 174px;

    &::after {
      position: absolute;
      width: 292px;
      height: 305px;
      top: -50px;
      right: 0;
      background-image: url('../images/footer-dog.png');
      background-repeat: no-repeat;
      content: '';
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__form-container {
    max-width: 320px;
    width: 100%;
  }
}
