.header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 8px 0 8px;

  /*   &::before {
    position: absolute;
    width: 1440px;
    height: 2722px;
    top: 43px;
    background-image: url('../images/body-background.png');
    content: '';
    z-index: -1;
  } */

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__logo {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: center;
      gap: 48px;
      flex-grow: 1;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
  }

  &__shopping-bag-button {
    width: 24px;
    height: 24px;
    fill: var(--color-brand-normal);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      fill: var(--color-brand-light);
    }

    @media screen and (min-width: $bp-tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &__shopping-bag-icon {
    width: 24px;
    height: 24px;

    @media screen and (min-width: $bp-tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-brand-normal);

    &:hover {
      fill: var(--color-brand-light);
    }

    @media screen and (min-width: $bp-tablet) {
      width: 40px;
      height: 40px;
    }

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__burger-icon {
    width: 24px;
    height: 24px;

    @media screen and (min-width: $bp-tablet) {
      width: 40px;
      height: 40px;
    }
  }
}
