.hero-section {
  position: relative;
  padding: 32px 8px 0px 8px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 212px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $bp-max) {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    top: -32px;
    right: 0;
    width: 625px;
    height: calc(323px + ((var(--viewport-width) - 360px) * 0.16));
    background-image: url('/images/hero-background-vector.svg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;

    @media screen and (min-width: 625px) {
      right: calc((var(--viewport-width) - 625px) / 2);
    }

    @media screen and (min-width: $bp-tablet) {
      top: calc(-52px - ((var(--viewport-width) - 768px) * 0.05));
      right: calc(
        (var(--viewport-width) - (625px + (var(--viewport-width) - 625px))) / 2
      );
      width: calc(625px + (var(--viewport-width) - 625px));
      height: calc(323px + 40px + ((var(--viewport-width) - 360px) * 0.16));
    }

    @media screen and (min-width: $bp-desktop) {
      top: -5px;
      right: 0;
      width: 1563px;
      height: 808px;
      background-repeat: no-repeat;
    }

    @media screen and (min-width: 1563px) {
      right: 0;
    }
  }

  &::after {
    bottom: -49px;
    left: 50%;
    margin-left: -150px;
    width: 314px;
    height: 177px;
    background-image: url('/images/hero-background-elements-mini.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
      width: 300px;
      height: 88px;
      background-image: url('/images/hero-background-elements-tablet.png');
    }

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__container {
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 65px;
    }
  }

  &__text-part {
    @media screen and (min-width: $bp-tablet) {
      display: block;
      align-items: start;
    }
  }

  &__content {
    max-width: 300px;
    margin: 0 auto 16px auto;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      max-width: 500px;
      margin: 0 0 24px 0;
      text-align: start;
    }
  }

  &__dog-image {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: relative;
      top: 23px;
    }

    &::before {
      @media screen and (min-width: $bp-desktop) {
        position: absolute;
        width: 827px;
        height: 513px;
        top: -84px;
        right: -58px;
        background-image: url('../images/hero-background-elements.png');
        background-repeat: no-repeat;
        content: '';
      }
    }
  }
}
