.less-talk-section {
  padding-top: 105px;

  @media screen and (min-width: $bp-desktop) {
    padding: 150px 0 87px;
  }

  &__container {
    position: relative;
    display: flex;
    gap: 84px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: center;
    }

    @media screen and (min-width: $bp-desktop) {
      justify-content: flex-start;
    }

    &::before {
      position: absolute;
      content: '';
      width: 48px;
      height: 40px;
      top: 0;
      left: 162px;
      background-image: url('../images/services-background-arrow.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      transform: rotate(-176.5deg);

      @media screen and (min-width: $bp-tablet) {
        left: 650px;
      }

      @media screen and (min-width: 1100px) {
        left: 800px;
      }

      @media screen and (min-width: $bp-desktop) {
        display: none;
      }
    }
  }

  &__dog-image {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: relative;
      top: 20px;
    }

    &::before {
      position: absolute;
      width: 512px;
      height: 563px;
      top: -105px;
      background-image: url('../images/less-talk-section-only-dog-background.svg');
      content: '';
      z-index: -1;
    }

    &.first-paw {
      position: absolute;
      /* bottom: 134px; */
      top: 222px;
      left: 52px;
      transform: rotate(141.94deg);
      animation: spin-scale-1 12s 2s infinite linear;

      &:hover {
        animation-play-state: paused;
      }

      @keyframes spin-scale-1 {
        0% {
          transform: rotate(141.94deg);
        }
        25% {
          scale: 1.5;
        }
        50% {
          scale: 1;
        }
        75% {
          scale: 1.5;
        }
        100% {
          scale: 1;
          transform: rotate(501.94deg);
        }
      }
    }

    &.second-paw {
      position: absolute;
      top: -46px;
      left: 171px;
      transform: rotate(-28.19deg);
      animation: spin-scale-2 12s 2s infinite linear;

      &:hover {
        animation-play-state: paused;
      }

      @keyframes spin-scale-2 {
        0% {
          transform: rotate(-28.19deg);
        }
        25% {
          scale: 1.5;
        }
        50% {
          scale: 1;
        }
        75% {
          scale: 1.5;
        }
        100% {
          scale: 1;
          transform: rotate(-388.19deg);
        }
      }
    }

    &.third-paw {
      position: absolute;
      top: 140px;
      right: 36px;
      transform: rotate(38.06deg);
      animation: spin-scale-3 12s 2s infinite linear;

      &:hover {
        animation-play-state: paused;
      }
      @keyframes spin-scale-3 {
        0% {
          transform: rotate(38.06deg);
        }
        25% {
          scale: 1.5;
        }
        50% {
          scale: 1;
        }
        75% {
          scale: 1.5;
        }
        100% {
          scale: 1;
          transform: rotate(398.06deg);
        }
      }
    }

    &.bowl {
      position: absolute;
      /*  bottom: -100px; */
      top: 440px;
      left: 215px;
    }
  }

  &__video-button {
    /* НАЖАТЬ МОЖНО И РЯДОМ, ЧЕКНИ ПОТОМ МОЖНО ЛИ ИСПРАВИТЬ */
    position: absolute;
    top: -33px;
    right: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__text-container {
    flex-grow: 1;
  }

  &__title {
    @media screen and (min-width: $bp-tablet) {
      text-align: center;
    }
    @media screen and (min-width: $bp-desktop) {
      text-align: start;
    }
  }

  &__content {
    font-size: 18px;
    line-height: 1.35;
    margin-bottom: 8px;
    letter-spacing: 0.05em;

    @media screen and (min-width: $bp-tablet) {
      max-width: 700px;
      margin: 0 auto;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: none;
      font-size: 22px;
      line-height: 1.55;
      text-align: start;
      margin-bottom: 24px;
      letter-spacing: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 40px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: center;
    }

    @media screen and (min-width: $bp-desktop) {
      justify-content: flex-start;
    }
  }

  &__video-button-mini {
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
