.section-title {
  font-family: 'Rowdies', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 40px;

  &.centered {
    text-align: center;
    margin-bottom: 48px;
  }
}
