.services-section {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 0 24px;
  overflow: hidden;

  @media screen and (min-width: $bp-desktop) {
    padding: 96px 0;
  }

  &::before {
    position: absolute;
    content: '';
    top: 6px;
    left: calc(-306px - (100vw - 360px) * 0.35);
    width: calc(872px + (100vw - 360px));
    height: calc(425px + (100vw - 360px) * 0.49);
    background-image: url('../images/services-background-vector-mini.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    @media screen and (min-width: $bp-tablet) {
      top: -20px;
      left: 0;
      background-image: url('../images/services-background-vector.svg');
    }

    @media screen and (min-width: $bp-desktop) {
      top: 48px;
      width: 100vw;
      height: 625px;
      background-size: 115%;
    }

    @media screen and (min-width: $bp-max) {
      width: 1440px;
      height: 625px;
      background-size: 100%;
    }
  }

  &::after {
    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      content: '';
      width: 192px;
      height: 144px;
      top: 20px;
      right: 20px;
      background-image: url('../images/services-background-arrow.svg');
      transform: rotate(-176.5deg);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-max) {
      flex-direction: row;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1044px;
    color: var(--color-brand-normal);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 240px;
    font-size: 22px;
    padding: 47px 71px;
    background-image: linear-gradient(
      180deg,
      var(--color-primary-light) 0%,
      #fffbf4 100%
    );
    border: 1px solid var(--color-background-cold);
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px var(--color-shadow-dark);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    width: 96px;
    height: 96px;
  }

  &__end-list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__end-list-button {
    padding: 0;
    background-color: transparent;
    border: 0;
  }
}
